{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Calculator</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div class="ks-container ks-u-bg-grey-15">
  <div class="ks-calculator ks-u-border-top-round ks-u-border-bottom-round ks-u-bg-grey-0">
    <div class="ks-calculator_item ks-calculator_item--display ks-u-border-top-round ks-u-bg-grey-0">
      <span id='display1'>0</span>
      <span id="display2" style="margin-bottom:-40px;"></span>
    </div>
    <div class="ks-calculator_item ks-grid-span2 ks-u-bg-grey-5">
      <button name="clear" class="ks-calculator_btn" aria-label="clear">
        C
      </button>
    </div>
    <div class="ks-calculator_item ks-u-bg-grey-5">
      <button name="delete" class="ks-calculator_btn" aria-label="delete">
        <span class="fas fa-arrow-left" aria-hidden="true"></span>
      </button>
    </div>
    <div class="ks-calculator_item ks-u-bg-orange">
      <button name="/" class="ks-calculator_btn" aria-label="divide">
        <span class="fas fa-divide" aria-hidden="true"></span>
      </button>
    </div>
    <div class="ks-calculator_item ks-u-bg-grey-10">
      <button name="7" class="ks-calculator_btn ks-calculator_item--num">
        7
      </button>
    </div>
    <div class="ks-calculator_item ks-u-bg-grey-10">
      <button name="8" class="ks-calculator_btn ks-calculator_item--num">
        8
      </button>
    </div>
    <div class="ks-calculator_item ks-u-bg-grey-10">
      <button name="9" class="ks-calculator_btn ks-calculator_item--num">
        9
      </button>
    </div>
    <div class="ks-calculator_item ks-u-bg-orange">
      <button name="*" class="ks-calculator_btn" aria-label="multiply">
        <span class="fas fa-times" aria-hidden="true"></span>
      </button>
    </div>
    <div class="ks-calculator_item ks-u-bg-grey-10">
      <button name="4" class="ks-calculator_btn ks-calculator_item--num">
        4
      </button>
    </div>
    <div class="ks-calculator_item ks-u-bg-grey-10">
      <button name="5" class="ks-calculator_btn ks-calculator_item--num">
        5
      </button>
    </div>
    <div class="ks-calculator_item ks-u-bg-grey-10">
      <button name="6" class="ks-calculator_btn ks-calculator_item--num">
        6
      </button>
    </div>
    <div class="ks-calculator_item ks-u-bg-orange">
      <button name="-" class="ks-calculator_btn" aria-label="subtract">
        <span class="fas fa-minus" aria-hidden="true"></span>
      </button>
    </div>
    <div class="ks-calculator_item ks-u-bg-grey-10">
      <button name="1" class="ks-calculator_btn ks-calculator_item--num">
        1
      </button>
    </div>
    <div class="ks-calculator_item ks-u-bg-grey-10">
      <button name="2" class="ks-calculator_btn ks-calculator_item--num">
        2
      </button>
    </div>
    <div class="ks-calculator_item ks-u-bg-grey-10">
      <button name="3" class="ks-calculator_btn ks-calculator_item--num">
        3
      </button>
    </div>
    <div class="ks-calculator_item ks-u-bg-orange">
      <button name="+" class="ks-calculator_btn" aria-label="add">
        <span class="fas fa-plus" aria-hidden="true"></span>
      </button>
    </div>
    <div class="ks-calculator_item ks-grid-span3 ks-u-bordbot-left-round ks-u-bg-grey-10">
      <button name="0" class="ks-calculator_btn ks-calculator_item--num">
        0
      </button>
    </div>
    <div class="ks-calculator_item ks-u-bordbot-right-round ks-u-bg-orange">
      <button name="equals" class="ks-calculator_btn" aria-label="equals">
        <span class="fas fa-equals" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>
<!-- partial -->
  <script  src="{% static 'js/script.js' %}"></script>

</body>
</html>
