body {
	background: #f7f7f7;
}

.form-box {
	max-width: 600px;
	max-height: 500px;
	margin: auto;
	padding: 50px;
	background: #ffffff;
	border: 10px solid #f2f2f2;
}

.box {
	max-width: 500px;
	max-height: 280px;
	margin: auto;
	padding: 50px;
	background: #ffffff;
	border: 10px solid #f2f2f2;
}

.row {
	margin-top: 10px;
}

h1,
h3,
h5,
h6,
p {
	text-align: center;
}

input,
textarea {
	width: 100%;
}


/* radio buttons lies here */

:root {
	--color-black: #232323;
	--color-pink: #ff6393;
	--color-dark-pink: #df4775;
	--color-purple: #342a47;
	--color-blue: #33C3F0;
	--color-dark-blue: #33C3F0;
	--color-gray: #525252;
	--color-green: #bbe187;
	--color-white: #FFF;
	--transition-fast: 0.1s;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
.InputGroup {
	display: -webkit-box;
	display: flex;
	height: 55px;
	width: 400px;
}


/**
 * 1. Hides the input from view
 * 2. Ensures the element does not consume any space
 */

input[type="radio"] {
	visibility: hidden;
	/* 1 */
	height: 0;
	/* 2 */
	width: 0;
	/* 2 */
}

label {
	display: -webkit-box;
	display: flex;
	-webkit-box-flex: 1;
	flex: auto;
	vertical-align: middle;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	background-color: var(--color-gray);
	color: white;
	padding: 5px 10px;
	border-radius: 6px;
	-webkit-transition: color --transition-fast ease-out, background-color --transition-fast ease-in;
	transition: color --transition-fast ease-out, background-color --transition-fast ease-in;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-right: 8px;
}

label:last-of-type {
	margin-right: 0;
}

input[type="radio"]:checked+label {
	background-color: var(--color-dark-blue);
	color: var(--color-white);
}

input[type="radio"]:hover:not(:checked)+label {
	background-color: var(--color-blue);
	color: var(--color-white);
}

.radio_labels {
	height: 40px;
}